<h1>Listing schedules</h1>

 <table class="table table-striped"><thead>
          <tr class="info">
          <td><b>Schedule </b> </td>
          <td><b>Monday</b></td>
          <td><b>Tuesday</b></td>
          <td><b>Wednesday</b></td>
          <td><b>Thursday</b></td>
          <td><b> Friday </b></td>
          <td><b>Saturday</b></td>
          <td><b>Sunday</b></td>

          </tr>

          <tr class="info"><td><b>12:00 am - 6:00 am</b> <th><%= link_to 'Show' %></th></td></tr>
            <tr class="info"><td><b>6:00 am - 12:00 pm</b> </td></tr>
            <tr class="info"><td><b>12:00 pm - 6:00 pm</b> </td></tr>
            <tr class="info"><td><b>6:00 pm a 12:00 am</b> </td></tr>


        </thead>




</table>
 <%= @thermostat.serial %> aqui esta el termostato correcto

<% @schedules.each do |schedule| %> 
<% if schedule.thermostat_id == @thermostat.id %>
<%= schedule.id %>
<% end%>
 <% end %>
 

<%= link_to 'New Schedule', new_schedule_path %>

