<meta charset=utf-8 />
<title>JS Bin</title>
<style type="text/css">
  #map {
  border: 1px solid #DDD; 
  width: 100%;
  height: 400px;
  float:right;  
  margin: 0px 0 0 10px;
  -webkit-box-shadow: #AAA 0px 0px 50px;
    }
    div {
      font-family: Arial;
      font-size: 10pt;
  }
</style>
<script type="text/javascript">
  $(function() {
    var addresspickerMap = $("#thermostat_address" ).addresspicker({
    elements: {
      map:      "#map",
      lat:      "#thermostat_latitude",
      lng:      "#thermostat_longitude"
      
    }
    });
    var gmarker = addresspickerMap.addresspicker("marker");
    gmarker.setVisible(true);
    addresspickerMap.addresspicker("updatePosition");

  

});
</script>