<div class="well well-lg">
	<h1 align = "center">Contact us</h1>
	<h1>Walsoft</h1>
	<p class="lead"><em>For support or information you can contact us at our facebook pages, twitter or youtube channel</em></p>
	<a href="/" >Back</a>
</div>