
<div class="panel panel-danger">
	<div class="panel-heading">
		<h3 class="panel-title">Editing thermostat</h3>
	</div>
	<div class="panel-body">
		<div class="container">
			<h1 class="lead">Editing thermostat</h1>

			<%= render 'form' %>

			<%= link_to 'Show', @thermostat %> |
			<%= link_to 'Back', thermostats_path %>
		</div>
	</div>
</div>
