<p></p>


<div class="container"> 
  
  <iframe  width="560" height="315" src="//www.youtube.com/embed/8sb9tGxYMVw" frameborder="0" allowfullscreen></iframe>

</div> <!--container-->

<br>
<br>
<br>
<br>
<br>
<br>
<br>

<footer>
  <table >
     <tr>
       <td>
            <h5>Siguenos en:</h5>
           <a href="/" >ThermMonitor: </a>
        </td>
     </tr>
    <tr>
        <td>
           <a href="https://www.facebook.com/ThermMonitor" class="btn btn-primary btn-lg active" role="button" >Facebook </a>
        </td>
        <td>
           <a href="https://www.twitter.com/ThermMonitor" class="btn btn-info">Twitter </a>
        </td>
        <td>

           <a href="https://www.youtube.com/channel/UCy6YVTvpqqyjvFhjmVqjQfg" class="btn btn-danger" >YouTube </a>

        </td>
    </tr>
      <tr>
        <td>
           <a href="/about_us" >About us</a>
        </td>
        <td>
           <a href="/contact_us" >Contact Us</a>
        </td>
      </tr>

  </table>
  </br>
</footer>
  