<p></p>


<video width="320" height="240" controls>
  <source src="video/video.mp4" type="video/mp4">
</video>

<table class="table ">
   <tr>
     <td>
         <a href="/" class="btn btn-success">ThermMonitor</a>
      </td>
   </tr>
  <tr>
      <td>
         <a href="https://www.facebook.com/ThermMonitor" class="btn btn-success">Facebook</a>
      </td>
      <td>
         <a href="https://www.twitter.com/ThermMonitor" class="btn btn-success">Twitter</a>
      </td>
      <td>

         <a href="https://www.youtube.com/ThermMonitor" class="btn btn-success">YouTube</a>

      </td>
  </tr>
    <tr>
      <td>
         <a href="/about_us" class="btn btn-success">About us</a>
      </td>
      <td>
         <a href="/contact_us" class="btn btn-success">Contact Us</a>
      </td>
    </tr>

</table>
</br>

