<p></p>


<video width="320" height="240" controls>
  <source src="video/video.mp4" type="video/mp4">
</video>

<table >
   <tr>
     <td>
         <a href="/" >ThermMonitor</a>
      </td>
   </tr>
  <tr>
      <td>
         <a href="https://www.facebook.com/ThermMonitor" >Facebook</a>
      </td>
      <td>
         <a href="https://www.twitter.com/ThermMonitor">Twitter</a>
      </td>
      <td>

         <a href="https://www.youtube.com/channel/UCy6YVTvpqqyjvFhjmVqjQfg" >YouTube</a>

      </td>
  </tr>
    <tr>
      <td>
         <a href="/about_us" >About us</a>
      </td>
      <td>
         <a href="/contact_us" >Contact Us</a>
      </td>
    </tr>

</table>
</br>

