
<img align= "right" src="\images\therm.jpg" alt="rss feed" />
<br>

<video width="320" height="240" controls>
  <source src="video/video.mp4" type="video/mp4">
</video>

<table>
   <tr>
     <td>
         <a href="/"><button><b><big>ThermMonitor</big></b></button></a>
      </td>
   </tr>
  <tr>
      <td>
         <a href="https://www.facebook.com/ThermMonitor"><button>Facebook</button></b></a>
      </td>
      <td>
         <a href="https://www.twitter.com/ThermMonitor"><button>Twitter</button></b></a>
      </td>
      <td>
         <a href="https://www.youtube.com/ThermMonitor"><button>YouTube</button></b></a>
      </td>
  </tr>
    <tr>
      <td>
         <a href="/about_us"><button><b><big>About us</big></b></button></a>
      </td>
      <td>
         <a href="/contact_us"><button><b><big>Contact Us</big></b></button></a>
      </td>
    </tr>

</table>
</br>

