<!DOCTYPE html>
<html>
<head>
  <title>ThermMonitor</title>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="user_nav">
  <% if user_signed_in? %>
    Signed in as <%= current_user.email %>. Not you?
    <%= link_to('Sign out', '/users/sign_out', :method => :delete) %>
  <% else %>
    <tr>
      <td>
         <a href="/users/sign_in"><button><b><big>Sign in</big></b></button></a>
      </td>
      <td>
         <a href="/users/sign_up"><button><b><big>Sign up</big></b></button></a>
      </td> 
    </tr>
  <% end %>
</div>
<%= yield %>

</body>
</html>